// 컨텐츠 자세히 보기
.brick-detail-header {
    background: #fff; // Old browsers
    background: linear-gradient(to bottom, #ffffff 0%, #edf0f8 100%);
    background: -webkit-linear-gradient(to bottom, #ffffff 0%, #edf0f8 100%);
    background: -moz-linear-gradient(to bottom, #ffffff 0%, #edf0f8 100%);
    background: -ms-linear-gradient(to bottom, #ffffff 0%, #edf0f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#edf0f8',GradientType=0); /* IE6-9 */
    text-align: center;
    .detail-header-wrap {
        position: relative;
        display: table;
        width: 100%;
        height: 80px;
    }
    .detail-header-display {
        display: table-cell;
        vertical-align: middle;
    }
    @include mq('tablet') {
        .detail-header-wrap {height: 130px;}
    }
    @include mq('desktop') {
        .detail-header-wrap {height: 200px;}
    }
    &__title {
        padding: 0 50px;
        font-size: 1.250rem;
        @include mq('tablet') {
            font-size: 24px;
        }
        @include mq('desktop') {
            font-size: 28px;
        }
    }
    &__desc {
        padding-top: 5px;
        font-size: .875rem;
        font-weight: 300;
        @include mq('desktop') {
            padding-top: 10px;
            font-size: 16px;
        }
    }
}
.brick-detail {
    padding: 40px 15px;
    @include mq('tablet') {
        padding: 50px 15px;
    }
    @include mq('desktop') {
        padding: 70px 10px;
    }
    .detail-wrap {
        &:not(:first-child) {margin-top: 40px;}
        @include mq('tablet') {
            &:not(:first-child) {margin-top: 50px;}
        }
        @include mq('desktop') {
            &:not(:first-child) {margin-top: 100px;}
        }
        .title {
            margin-bottom: 20px;
            font-size: 1.250rem;
            @include mq('tablet') {
                font-size: 24px;
            }
            @include mq('desktop') {
                margin-bottom: 30px;
                font-size: 30px;
            }

        }
        .conts {
            font-weight: 300;
            color: $w-666;
            .sub-title {
                padding: 10px 0;
                font-weight: 400;
                color: $w-333;
                @include mq('tablet') {
                    padding: 20px 0 10px;
                }
            }
        }
    }
}
